@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Kanit&family=Source+Code+Pro&family=Work+Sans:wght@700&display=swap');

:root {
  --color-cadet-blue: #A2B8C7;
  --color-cyan-azure: #4A87AD;
  --color-arsenic: #3A3948;
  --color-shadow: #8F8564;
  --color-pale-silver: #C8BFB3;
  --font-work-sans: 'Work Sans', sans-serif;
  --font-carrois-gothic: 'Carrois Gothic', sans-serif;
  --font-kanit: 'Kanit', sans-serif;
  --font-source-code-pro: 'Source Code Pro', monospace;
}

body[data-theme="light"] {
  --color-text-primary: var(--color-arsenic);
  --color-text-secondary: var(--color-cyan-azure);
  --color-bg: var(--color-pale-silver);
  --color-bg-secondary: var(--color-cadet-blue);
  --color-bg-toggle: var(--color-arsenic);
}

body[data-theme="dark"] {
  --color-text-primary: var(--color-pale-silver);
  --color-text-secondary: var(--color-cadet-blue);
  --color-bg: var(--color-arsenic);
  --color-bg-secondary: var(--color-cadet-blue);
  --color-bg-toggle: var(--color-pale-silver);
}

body {
  background: var(--color-bg);
  color: var(--color-text-primary);
  font-family: var(--font-kanit);
  transition: background 0.25s ease-in-out;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

h1 {
  font-family: var(--font-work-sans);
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-carrois-gothic);
}
