@import url('https://fonts.googleapis.com/css2?family=Carrois+Gothic&family=Kanit&family=Source+Code+Pro&family=Work+Sans:wght@700&display=swap');

html,
body {
  padding: 0;
  margin: 0;
  font-family: var(--font-kanit);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: var(--color-pale-silver);
    background: var(--color-arsenic);
  }
}

h1 {
  font-family: var(--font-work-sans);
}

h2, h3, h4, h5, h6 {
  font-family: var(--font-carrois-gothic);
}

:root {
  --color-cadet-blue: #A2B8C7;
  --color-cyan-azure: #4A87AD;
  --color-arsenic: #3A3948;
  --color-shadow: #8F8564;
  --color-pale-silver: #C8BFB3;
  --font-work-sans: 'Work Sans', sans-serif;
  --font-carrois-gothic: 'Carrois Gothic', sans-serif;
  --font-kanit: 'Kanit', sans-serif;
  --font-source-code-pro: 'Source Code Pro', monospace;
}
